@charset "UTF-8";

/* ここから */
body{
  background-color:black;
	font-family: "Noto Sans JP", Arial, Verdana,
	 游ゴシック, YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif;
}
img{
	vertical-align:bottom;
}
a{
  text-decoration:none;
  color:white;
}
.sidebar{
  position:fixed;
	right:0;
  width:20%;
  height:100%;
}
.side-contents{
	padding-left:20%;
}
.side-contents img{
  width:87px;
  height:22.42;
  padding:30px 0;
}
.side-menu a{
  text-decoration:none;
	font-family:'Modern Antiqua', 'Noto Sans JP',serif;
}
.side-menu a:hover{
	text-decoration:underline;
}
.side-menu li{
	padding:10px 0;
}
.side-menu li:checked{
	transition-duration:1s;
}
.side-icon{
	margin-top:50px;
}
.side-icon a{
	padding:45px 10px 0 0;
}
.side-icon a:hover{
	opacity:0.6;
}
.main-wrapper{
	width:80%;
}
.top-photo img{
	width:100%;
}
.message{
	text-align:center;
}
.message h1{
	color:white;
	font-family:'Modern Antiqua', 'Noto Sans JP',serif;
	font-size:22px;
	margin:70px auto;
	border-bottom:solid 3px white;
	padding:0 0 20px 0;
	display:inline-block;
}
.message p{
	color:white;
	font-size:14px;
  font-family: "Noto Sans JP", Arial, Verdana, 游ゴシック, YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif;
  font-weight:300;
  line-height:1.9;
	width:60%;
	margin:0 auto;
	padding:0 0 80px 0;
	text-align:initial;
	line-height:20px;
}
.imglist-wrapper{
	width:100%;
}
.imglist{
	display:flex;
	flex-wrap:wrap;
}
.imglist img{
	width:100%;
  display:block;
}
.imglist li{
	flex:auto;
	width:33%;
}
.brand{
	text-align:center;
  padding-bottom:5vh;
  border-bottom:solid 1px white;
}
.brand-contents{
	display:flex;
	width:80%;
	margin:0 auto;
}
.brand-content{
	color:white;
	flex:auto;
	width:25%;
	padding:0 3%;
}
.brand-content p{
	text-align:initial;
	font-size:14px;
	line-height:20px;
}
.brand-content img{
	width:100%;
}
.brand h1{
	color:white;
	display:inline-block;
	font-family:'Modern Antiqua', 'Noto Sans JP',serif;
	font-size:22px;
	margin:70px auto;
	padding-bottom:20px;
	border-bottom:solid 3px white;
}
.project{
	width:80%;
	margin:0 auto;
	padding-bottom:120px;
	border-bottom:solid 1px white;
	text-align:center;
}
.project h1{
	color:white;
	font-size:22px;
	font-family:'Modern Antiqua', 'Noto Sans JP',serif;
	padding-bottom:20px;
	margin:70px auto;
	border-bottom:3px solid white;
	display:inline-block;

}
.pj-contents{
	color:white;
	width:100%;
	margin:0 auto;
}
.pj-content{

}
.pj-content img{
	width:375px;
	height:220px;
	margin-right:20px;
}
.pj-content p{
	text-align:left;
}
.pj-img{
	float:left;
}
.zzi{
	margin-bottom:150px;
}
.company-wrapper{
	width:80%;
	text-align:center;
	margin:0 auto;
	padding-bottom:0;
}
.company{
	color:white;
	width:100%;
}
.company h1{
	font-size:22px;
	font-family:'Modern Antiqua', 'Noto Sans JP',serif;
	margin:70px auto;
	padding-bottom:20px;
	border-bottom:3px solid white;
	display:inline-block;
}
.address{
	display:flex;
}
.company p{
	font-size:14px;
	text-align:initial;
	line-height:30px;
	width:40%;
}
.map{
	width:60%;
	text-align:initial;
	background-color:white;
	position:relative;
	padding-bottom:25%;
}
iframe{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.copywright{
	color:white;
	text-align:center;
	padding:30px 10px 70px 0;
	font-size:12px;
	font-family:'Noto Sans JP', Arial, Verdana, 游ゴシック, YuGothic,'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', メイリオ, Meiryo,sans-serif;;
}
.copywright a{
	color:blue;
}
/* レスポンシブ追加HTML */
.fa-bars{
  color:#fff;
  float:right;
  font-size:6vw;
  padding:0.5vw 1.5vw 0 0;
}
label{
  z-index:200;
}
.header{
  text-align:center;
  height:6vh;
  width:100%;
  padding-top:15px;
  position:fixed;
  background:#000;
  display:none;
}
.header-cover{
  text-align:center;
  height:6vh;
  width:100%;
  padding-top:15px;
  margin-top:-15px;
  position:fixed;
  background:#000;
  z-index:100;
}
.header-img{
  width:20vw;
  padding-top:1vh;
  padding-left:12vw;
}
.check{
  display:none;
}
.header-nav{
  background:#000;
  text-align:left;
  transform:translateY(-110%);
  transition:0.4s;
  z-index:10;
}
.check:checked ~ .header-nav{
  transform:translateY(6vh)
}
.header-menu li{
  padding:18px 0;
  border-bottom:1px solid #fff;
  font-size:14px;
  font-family: 'Modern Antiqua', 'Noto Sans JP',serif;
}
.header-menu li a:hover{
  text-decoration:underline;
}
.fa-chevron-right{
  padding:0 10px;
}
.header-icon{
  padding:18px 0;
  border-bottom:1px solid #fff;
}
.header-icon a{
  padding:0 10px;
}
/* レスポンシブ */
@media (max-width:800px){
  .header{
    display:block;
  }
  .sidebar{
    display:none;
  }
  .main-wrapper{
    width:100%;
  }
  .brand{
    width:90%;
    margin:0 auto;
  }
  .brand-contents{
    flex-direction:column;
    width:100%;
    margin:0 auto;
  }
  .brand-content{
    width:100%;
    margin:0 auto;
    padding:0;
    text-align:center;
    margin-bottom:3vh;
  }
  .brand-content img{
    width:24.5%;
  }
  .brand-content p{
    display:block;
    margin:0;
    padding:0;
    text-align:center;
  }
}
@media (max-width:640px){
  .message{
    width:100%;
  }
  .message p{
    width:95%;
    margin:0 auto;
  }
  .imglist li{
    width:100%;
  }
  .brand-content img{
    width:45%;
  }
  .project{
    width:90%;
    margin:0 auto;
  }
  .company-wrapper{
    width:90%;
  }
  .address{
    width:90%;
    flex-direction:column;
    margin:0 auto;
  }
  .address p{
    width:100%;
    padding-bottom:3vh;
  }
  .map{
    width:100%;
    height:20vh;
  }
}
